/* HeroSearch private styles */
.search-result li {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 195px;
    height: 16px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
    margin-left: 42.5%;
  }
  
  .search-result li:hover {
    background-color: #f16f6f;
  }
  .search-result li {
    background-color: #94d2e6;
  }
  
  .search-result li a {
    color: #f16f6f;
    display: block;
    text-decoration: none;
    background-color: #94d2e6;
  }
  
  .search-result li a:hover {
    color:#f16f6f;
    background-color: #94d2e6;
  }
  .search-result li a:active {
    color: #f16f6f;
    background-color: #94d2e6;
  }
  #search-box {
    width: 200px;
    height: 20px;
    border: 1px solid gray;
  }
  
  
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }